.VioIDE--Container {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  color: #fff;
  height: 100%;
  width: 100%;
}

.VioIDE--Editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: monospace; 
}

.VioIDE--Editor .CodeMirror {
  flex-grow: 1;
  height: 100%;
}

.VioIDE--Header {
  display: flex;
  padding: 16px;
  width: 100%;
  background-color: #1d1d1d;
  border-bottom: 1px solid #646464;
  gap: 20px;
  color: #fff;
  overflow-x: auto;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  align-items: center;
}
.VioIDE--Header button {
  color: #fff;
  background-color: #1d1d1d;
  padding: 8px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
.VioIDE--Header button:hover {
  background-color: #9a53d9;
}

.VioIDE--Box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.VioIDE--Terminal {
  width: 100%;

  font-family: monospace;
}

.VioIDE--Terminal--Container {
  border-radius: 10px;
  border: 1px solid #646464;
  height: 100%;
  padding: 16px;
  word-break: break-all;
}
