.Settings--Container {
    display: flex;
    color: #fff;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.Settings--Container--RightMenu {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    padding: 16px;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    box-shadow: -1px 0px 10px 1px rgba(0,0,0,0.75);
}
.Settings--Container nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    padding: 16px;
    color: #fff;
    gap: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.360);
    backdrop-filter: blur(20px);
}
.Settings--Container--Buttons {
    display: flex;
    align-items: center;
    width: 100%;
}
.Settings--Container--Buttons button{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color: #fff;
    width: 100%;
}
.Settings--Page--Option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    color: #fff;
}
.Settings--SuccessMessage {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(0, 255, 0, 0.6);
    padding: 8px;
    border-radius: 4px;
    z-index: 99;
    backdrop-filter: blur(20px);
  }
  .Settings--ErrorMessage {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: red;
    padding: 8px;
    border-radius: 4px;
    z-index: 99;
    backdrop-filter: blur(20px);
  }
  .Settings--ErrorMessage.visible {
    opacity: 1;
  }
  .Settings--SuccessMessage.visible {
    opacity: 1;
  }