.SDDM {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.sddm--container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  color: white;
  backdrop-filter: blur(20px);
  padding: 16px;
  border-radius: 20px;
  z-index: 9999;
  border: 1px solid #ffffff98;
  backdrop-filter: blur(20px);
  background-color: #ffffff21;
}
.sddm--container form {
  display: flex;
  gap: 20px;
  color: white;
  width: 100%;
  align-items: center;
}
.sddm--container input {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(90px);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff98;
  color: white;
  width: 100%;
}
.gradient-bg {
  background: rgb(156,6,172);
  background: linear-gradient(167deg, rgba(156,6,172,1) 0%, rgba(4,4,90,1) 34%, rgba(141,0,255,1) 100%);
}
