.Settings--Container {
    display: flex;
    gap: 20px;
    color: #fff;
}
.Settings--Container nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    padding: 16px;
    border-right: 1px solid #ccc;
    color: #fff;
    gap: 20px;
}
.Settings--Page--Option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    color: #fff;
}